body{
    margin: 0;
    padding: 0;
    background-image: url(bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    font-family: sans-serif;
}

/* main */
main{
    margin: 0;
    min-height: 100vh ;
    background-image: linear-gradient(-30deg,rgba(3, 169, 244, 0.5) 0%,rgba(58, 120, 183, 0.5) 50%,rgba(38, 38, 38, 0.5) 50%,rgba(96, 125, 139, 0.5) 100%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    animation-name:animate;
    animation-delay: 3s;
    animation-duration:5s;
    animation-iteration-count: infinite;
    overflow-x: hidden;
}
@keyframes animate{
    from{
        filter: hue-rotate(0);
    }
    to{
        filter:hue-rotate(360deg)
    }
}

/* container */
.form-container{
    width: 18.5rem;
    min-height: max-content;
    padding: 1rem 1.8rem;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    font-family: 'Poppins', sans-serif;
    animation-name: display;
    animation-duration: 3s;
    animation-iteration-count: 1;
    box-sizing: border-box;
    text-align: center;
    /* box-shadow: 0px 0px 4px 2px rgb(170, 170, 170); */
}
@keyframes display{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* header */
h1{
    width: 100%;
    text-align: center;
    color: rgb(3, 169, 244);
    text-shadow: 0.15rem 0.1rem rgb(34, 34, 105);
    font-weight: 700;
    font-size: 2rem;
    padding: 0;
    margin: 0 0 1em 0;
    letter-spacing: 1px;
    font-style: normal;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

/* social media logins */
.facebook, .twitter{
    display: block;
    width: 100%;
    box-sizing: border-box;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: .8rem;
    padding: .9em;
    margin: .7em 0 auto auto;
    border-radius: 30px;
}
.facebook:hover, .twitter:hover{
    transform: scale(1.01);
}
.facebook{
    background-color: rgba(4, 15, 110, 0.5);
}
.twitter{
    background-color: rgb(26, 124, 156);
}
.fa-brands{
    margin-right: .4em;
}

/* form */
input:not(input[type="checkbox"]){
    display: block;
    width: 100%;   
    box-sizing: border-box;
    font-size: 1rem;
    padding: .6em;
    border-radius: 30px;
    border: 1.5px solid rgb(119, 136, 153);
    margin: .5em 0 auto auto;
}
.user:focus{
    outline: none;
    background-color: rgb(252, 198, 207) ;
}
.remember{
    margin: 1em 0;
    display: block;
    text-align: left;
    font-size: .9rem;
}
.remember:hover{
    cursor: pointer;
}
input[type="submit"]{
    background-color: rgb(252, 198, 207);
    border: none !important;
    padding: .8em !important;
    color: white;
    font-weight: bold;
}
input[type="submit"]:hover{
    cursor: pointer;
    background-color: rgb(255, 183, 195);
}

/* sign up link */
.form-container > p{
    color: rgb(0, 0, 0);
}
.form-container > p > a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: all 5s;
}
.form-container > p > a:hover{
    text-decoration: underline;
}

/* footer */
main > p{
    color: rgb(255, 255, 255);
    text-align: center;
}

@media  screen and (min-width:768px) {
    .form-container{
        width: 22rem;
    }
    h3{
        font-size: 1.7rem;
    }
    .facebook, .twitter{
        font-size: 1rem;
    }
    input:not(input[type="checkbox"]){
        font-size: 1.2rem;
    }
    .remember{
        font-size: 1.2rem;
    }
}